body{
  background-color: aqua;
}

input{
  border-radius: 5px;
  border:1px solid black;
  height: 25px;
  width:100%;
}
#error{
  color:red;
}
#parent{
  background-color: white;
  width:40%;
  height:450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  padding-top: 5px;
  padding-bottom: 40px;
  position: absolute;
  top:30%;
  left:30%;
}
button{
  border-radius: 15px;
  width:105px;
  height:20px;
  background-color: rgb(89, 245, 89);
  margin-top: 10px;
  padding-top:15px;
  padding-bottom: 15px;
}